<h1>Hello, Rails!</h1>
<p>This is a paragraph in Rails view file.</p>

<p>Current time: <%= Time.now %></p>
<%# Time.now는 Ruby 코드를 실행하여 현재 시간을 출력하는 ERB 문법 %>
<%# erb 확장자는 embedded ruby의 약자. 따라서 html 내부에서 ruby 문법 사용하능 %>
